.body, #app {
    height: 100%;
    font-size: 15pt;
}

.main {
    margin: 30px 00px 60px;
    height: auto;
    background-color: #f6ca31;
}

.search {
    margin: auto;
    padding: 45px;
    width: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 50px; 
}
.search-box {

}
.search-box div{
    background-color: #fff;
    display: inline-block;
    font-size: 18pt;
}
#search {
    width: 60%;
    display: inline;
    background-color: #fff;
    border: 0px;
    margin: 0 auto;
    font-size: 18pt;
}
.search-btn {
    color: black;
    background-color: #007bff00;
    border-color: #007bff00;
}
.search-results ul {
    list-style: none;
}

.middle {
    background-color: #fff;
}
.panel-right {
    background-color: #ff6736;
}